{{/* Contact Block */}}

{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}
{{ $data := "" }}

{{ if $page.Params.email_form }}
  {{ $form_provider := lower $page.Params.email_form }}
  {{ $form_path := "" }}
  {{ if eq $form_provider "netlify" }}
    {{ $form_path = "forms/contact" }}
  {{ else }}
    {{ errorf "The `email_form` option in the Contact widget should either be `false` to disable the form, or one of the following providers: `netlify`" }}
  {{ end }}

  <div class="mb-3">
    <form name="contact" method="POST" {{ with $form_path }}action="{{ . }}"{{ end }} {{ if eq $form_provider "netlify" }}netlify{{ end }}>
      <div class="form-group">
        <label for="inputName">{{ i18n "contact_name" }}</label>
        <input type="text" name="name" class="form-control" id="inputName" required>
      </div>
      <div class="form-group">
        <label for="inputEmail">{{ i18n "contact_email" }}</label>
        <input type="email" name="email" class="form-control" id="inputEmail" required>
      </div>
      <div class="form-group">
        <label for="inputMessage">{{ i18n "contact_message" }}</label>
        <textarea name="message" class="form-control" id="inputMessage" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary px-3 py-2">{{ i18n "contact_send" }}</button>
    </form>
  </div>
{{ end }}

{{ if $autolink }}
  {{ with $page.Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}
{{ end }} 